@media all and (max-device-width: 480px){
    body{
        display: flex;
        flex-wrap: wrap;
    }
}


@media all and (max-device-width: 480px){ 
    
.container_nav {
clear : both;
overflow : auto;


}

@media all and (max-device-width: 480px) { 
    
nav {
float : right;
}
.logo img {
float : left;
}
}



@media all and (max-device-width: 480px) { 
ul li {
display : inline-block;
padding : 10px;
font-size : 20px;
font-family : raleway;
cursor : default;
}
}

@media all and (max-device-width: 480px) { 
    a {
text-decoration : none;
}
}
                                                /* Barre de recherche*/
@media all and (max-device-width: 480px) { 
    #box {
display : inline-flex;
max-width : 100%;
}
}
                                           
@media all and (max-device-width: 480px) { 
    input {
border-right : none;
border-left : none;
border-top : 1px solid #F2F2F2;
border-bottom : 1px solid #F2F2F2;
padding : 0 1.5rem;
box-sizing : border-box;
font-size : 1rem;
font-weight : bold;
}
}

@media all and (max-device-width: 480px) { 
    button {
background-color : #0065FC;
color : white;
font-weight : bold;
border : none;
border-radius : 0 1rem 1rem 0;
padding : 0 1.5rem;
font-size : 1rem;
cursor : pointer;
}
}

@media all and (max-device-width: 480px) { 

button, input {
overflow : visible;
font-family : inherit;
font-size : 100%;
line-height : 3.15;   /* augmente la taille de notre barre de recherche*/
margin : 0;
}

}          /* fin de responsive de la  barre de recherche*/

                                          /*Hebergement et populaire*/
@media all and (max-device-width: 480px){
    .container{
        display : flex;
        align-items: revert;
       flex-direction: row-reverse;
       flex-wrap: row-reverse;
        
        padding : 10px;
        padding-left : 2em;
        padding-right : 2em;
        padding-bottom: 20px;
        
        }
}
@media all and (max-device-width: 480px){
    .container1 {
        
       
        padding : 5px;
        border-radius : 20px;
        
        padding-left : 1em;
        padding-right:2em ;
        margin-right: 50px;
        
       
        }
}
@media all and (max-device-width: 480px){
    
    .container2 {
      background-color : #F2F2F2;
        
        
        }
}

@media all and (max-device-width: 480px)  {                          /* Activités*/
 
   
    
    
        
        .titre_activité,#activites{
            width: 100%;
             font-size: x-large;
             float: left;
        }
        
        
        .partie_activite_2{
        border-radius : 20px;
        margin : 50px;
        background-color : white;
        box-shadow : 8px 8px 12px #aaa;
        position: relative;
        margin-left: 30px;
        }
        
        .partie_activite{
        border-radius : 20px;
        
        background-color : white;
        box-shadow : 8px 8px 12px #aaa;
     
        }
        
        .img_port {
        object-fit : cover;
        height : 200px;
        width : 400px;
        border-top-left-radius : 20px;
        border-top-right-radius: 20px;
        
        }
        .Description_act {
        font-size : large;
        padding: 1em 0 1em 1em;
        }
        .Fort {                                    /* bloc du Fort de pomégue*/
        border-radius : 20px;
        margin : 50px;
        background-color : white;
        padding-bottom: 4px;
        box-shadow : 8px 8px 12px #aaa;
        margin-left:5px ;
        margin-right:15px ;
        }
        .img_fort {
        object-fit : cover;
        height : 150px;
        width : 350px;
        border-top-left-radius : 20px;
        border-top-right-radius : 20px;
        }
        .ile {                                            /* bloc de l'île de frioul*/
        border-radius : 20px;
        margin : 50px;
        background-color : white;
        padding-bottom: 4px;
        box-shadow : 8px 8px 12px #aaa;
        margin-left: 5px;
        margin-right: 15px;
        }
        .img_ile {
        object-fit : cover;
        height : 150px;
        width : 350px;
        border-top-left-radius : 20px;
        border-top-right-radius : 20px;
        }
        /* Partie parc national*/
        .partie_activité_2{
        border-radius : 20px;
        margin : 30px;
        background-color : white;
        padding-top : 10px;
        padding-right : 10px;
        padding-left : 10px;
        box-shadow : 8px 8px 12px #aaa;
        position: relative;
        }
        .img_parc {
        object-fit : cover;
        height : 400px;
        width : 300px;
        border-top-left-radius : 20px;
        border-top-right-radius: 20px;
        }
        .notre_dame {                                    /* bloc de Notre Dame */
        border-radius : 20px;
        margin : 50px;
        background-color : white;
        padding-bottom: 4px;
        box-shadow : 8px 8px 12px #aaa;
        margin-left:5px ;
        margin-right:40px ;
        }
        .img_notre_dame {
        object-fit : cover;
        height : 150px;
        width : 350px;
        border-top-left-radius : 20px;
        border-top-right-radius : 20px;
        }
        .longchamp {                                              /* bloc du parc Longchamp*/
        border-radius : 20px;
        margin : 50px;
        background-color : white;
        padding-bottom: 4px;
        box-shadow : 8px 8px 12px #aaa;
        margin-left: 5px;
        margin-right: 30px;
        }
        .img_longchamp {
            object-fit : cover;
            height : 150px;
            width : 360px;
            border-top-left-radius : 20px;
            border-top-right-radius : 20px;
       } 