@media screen and (max-width: 1280px)
{
    
transition : all 0.3s ease-in-out;
}
.container_nav {
clear : both;
overflow : auto;


}

@media screen and (max-width: 1280px)
{
    
nav {
float : right;
}
.logo img {
float : left;
}


}

@media screen and (max-width: 1280px)
{

ul li {
display : inline-block;
padding : 10px;
font-size : 20px;
font-family : raleway;
cursor : default;
}

}

@media screen and (max-width: 1280px)
{
    a {
text-decoration : none;
}
}
@media screen and (max-width: 1280px){
    #box {
display : inline-flex;
max-width : 100%;
}
}
@media screen and (max-width: 1280px){
    input {
border-right : none;
border-left : none;
border-top : 1px solid #F2F2F2;
border-bottom : 1px solid #F2F2F2;
padding : 0 1.5rem;
box-sizing : border-box;
font-size : 1rem;
font-weight : bold;
}
}

@media screen and (max-width: 1280px){
    button {
background-color : #0065FC;
color : white;
font-weight : bold;
border : none;
border-radius : 0 1rem 1rem 0;
padding : 0 1.5rem;
font-size : 1rem;
cursor : pointer;
}
}

@media screen and (max-width: 1280px){

button, input {
overflow : visible;
font-family : inherit;
font-size : 100%;
line-height : 3.15;   /* augmente la taille de notre barre de recherche*/
margin : 0;
}

}




  @media screen and (max-width: 1280px){
    .container_activite{
display : flex;
justify-content : space-around;
flex-wrap : wrap;
flex-direction: column;
padding : 10px;
padding-left : 2em;
padding-right : 2em;
background-color : #F2F2F2;
}
  }

  