

/* Barre de navigation*/
h1,h2,p{
	font-family: 'Raleway', sans-serif; 
	margin-left: 0,5em;
}
* {
transition : all 0.3s ease-in-out;
}
.container_nav {
clear : both;
overflow : auto;
margin-left: 0,5em;
}
nav {
float : right;
}
.logo img {
float : left;
}
ul li {
display : inline-block;
padding : 10px;
font-size : 20px;
font-family : raleway;
cursor : default;
}
a {
text-decoration : none;
}
/* Barre de recherche*/
#box {
display : inline-flex;
max-width : 100%;
margin-left: 0,5em;
}
input {
border-right : none;
border-left : none;
border-top : 1px solid #F2F2F2;
border-bottom : 1px solid #F2F2F2;
padding : 0 1.5rem;
box-sizing : border-box;
font-size : 1rem;
font-weight : bold;
}
button {
background-color : #0065FC;
color : white;
font-weight : bold;
border : none;
border-radius : 0 1rem 1rem 0;
padding : 0 1.5rem;
font-size : 1rem;
cursor : pointer;
}
button, input {
overflow : visible;
font-family : inherit;
font-size : 100%;
line-height : 3.15;   /* augmente la taille de notre barre de recherche*/
margin : 0;
}
/* Partie filtres*/
#filtre {
	display: flex;
	
    margin-left: 0,5em;
    margin-top: 2em;
    font-size: 1.1em;
}
/* dissociation des filtres*/
.eco {
	display: flex;
    border: 3px solid #f2f2f2;
    border-radius: 2em;
    align-items: center;
    padding-right: 1em;
    margin-left: 2.5em;
    font-weight: bold;
}

.icone_eco{
	display: flex;
	height: 50px;
	width: 50px;
	border: 3px solid #DEEBFF;
	align-items: center;
	border-radius: 50%;
	justify-content: center;
	background-color: #DEEBFF;
	margin: -2px 10px -2px -2px;
	color: #0065FC;
}


.romantique {                          /* Filtre romantique*/
	display: flex;
    border: 3px solid #f2f2f2;
    border-radius: 2em;
    align-items: center;
    padding-right: 1em;
    margin-left: 2.5em;
    font-weight: bold;
}
.icone_coeur{
	display: flex;
	height: 50px;
	width: 50px;
	border: 3px solid #DEEBFF;
	align-items: center;
	border-radius: 50%;
	justify-content: center;
	background-color: #DEEBFF;
	margin: -2px 10px -2px -2px;
	color: #0065FC;
}
.animaux {                              /* filtre Animaux*/
	display: flex;
    border: 3px solid #f2f2f2;
    border-radius: 2em;
    align-items: center;
    padding-right: 1em;
    margin-left: 2.5em;
    font-weight: bold;
}
.icone_animaux{
	display: flex;
	height: 50px;
	width: 50px;
	border: 3px solid #DEEBFF;
	align-items: center;
	border-radius: 50%;
	justify-content: center;
	background-color: #DEEBFF;
	margin: -2px 10px -2px -2px;
	color: #0065FC;
}

.info_filtre{                           /*filtre familial*/                    
	margin: 0;
    padding: 8px 0 8px 0;

}
.familial{                               /* filtre famille*/
	
	display: flex;
    border: 3px solid #F2F2F2;
    border-radius: 2em;
    align-items: center;
    padding-right: 1em;
    margin-left: 2.5em;
    font-weight: bold;
}
.icone_famille{
	
	display: flex;
	height: 50px;
	width: 50px;
	border: 3px solid #DEEBFF;
	align-items: center;
	border-radius: 50%;
	justify-content: center;
	background-color: #DEEBFF;
	margin: -2px 10px -2px -2px;
	color: #0065FC;
}

                                      /*Fin de la partie filtre*/
.info{
	display: flex;
    border-radius: 2em;
    align-items: center;
    padding-right: 1em;
    margin-left: 0,5em;
    padding-top: 30px;
	padding-bottom: 30px;
}

.icone_info{
	display: flex;
	height: 20px;
	width: 20px;
	border: 3px solid #F2F2F2;
	align-items: center;
	border-radius: 50%;
	justify-content: center;
	margin: -2px 10px -2px -2px;
	color: #0065FC;
}

.etoile_bleu{                        /* Notes des heébergements */
	color: #0065FC;
	line-height: 1px;
}
.etoile_grise {
    color: #b1a7a7;
	line-height: 1px;
}

/* Colonne catégorie Hebergement et populaire*/
article{
	line-height: 2px;
	margin-bottom: 0px;
}
.container{
display : flex;
justify-content : space-around;

padding : 10px;
padding-left : 2em;
padding-right : 2em;
padding-bottom: 20px;

}


h2, .nuit {
font-size : small;
text-align : left;
}

.titre_hebergement {
width : 100%; /* afin de prendre tout le container1 et de passer les img à la ligne*/

}

._hebergementtitre{
	font-size: large;
}

.image_hebergement {
border-top-left-radius : 20px;
border-top-right-radius : 20px;
object-fit : cover; /* permet de redimensionner l'image*/
width: 250px; 
height: 130px; 
margin: 0;
}

/* englobe la Partie hébergement*/

.container1 {
display : flex;
justify-content: space-around;
flex-wrap : wrap;
padding : 5px;
border-radius : 20px;
position : relative;
padding-left : 1em;
padding-right:2em ;
margin-right: 50px;
float: left;
background-color : #F2F2F2;
}

.partie_herbegement {
height: 210px;

border-radius : 20px;
background-color : white;
padding-top : 5px;
padding-right : 5px;
padding-left : 5px;
margin-bottom: 10px;
box-shadow : 5px 5px 8px rgba(170, 170, 170, 0.959)
}

/* englobe la partie populaire */

.titre_populaire {
width : 100%;/* afin de prendre tout le container1 et de passer les img à la ligne*/
margin-bottom: -1em;
display: flex;
justify-content: space-around;
font-size: large;

}
.business_icon{
	font-size: larger;
	margin-left: 3em;
}
.container2 {


border-radius : 20px;
position : relative;
margin-right: 40px;
background-color : #F2F2F2;
float: right;

}


.partie_populaire {
display : flex;
justify-content : flex-start;

border-radius : 20px;
margin : 30px; /* j'ai reduit la marge du border*/
background-color : white;
padding-top : 5px;
padding-right : 40px;
padding-left : 3em;
box-shadow : 5px 5px 8px rgba(170, 170, 170, 0.959)


}

 .description_hotel {
	width: 150px;
	margin-left: 25px;
	
 }
  

.img_populaire {
display : flex;
justify-content: flex-start;
overflow : hidden;
height : 150px; /* hauteur et largeur de mes images dans la section populaire*/
width : 130px;
border-top-left-radius : 20px;
border-bottom-left-radius : 20px;
object-fit : cover;
padding-bottom: 5px;
margin-left: -45px;

}

                                                       /* Section activité à Marseille*/

/*Englobe la partie gauche et droite des activités*/


	
.titre_activite{
    width: 100%;
    margin-top: 20px;
    display: flex;
justify-content: flex-start;
font-size: large;
}

.description_act{
    padding: 1em 0 1em 1em;
    line-height: 2px;
    font-weight: bold;
}
.container_activite{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.activite_1{
 background-color:white;
 box-shadow:  8px 8px 12px #aaa;;
 border-radius: 20px;
}
.box_activite_2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.activite_2{
    
    background-color:white;
 box-shadow:  8px 8px 12px #aaa;;
 border-radius: 20px;
  
}
.act1{
    object-fit : cover;
    height : 400px;
    width : 300px;
    border-top-left-radius : 20px;
    border-top-right-radius: 20px;
}

.act2{
    object-fit : cover;
    height : 150px;
    width : 350px;
    border-top-left-radius : 20px;
    border-top-right-radius : 20px;
}

	
	
	




* {
	box-sizing: border-box;
  }
  
  /* creer 3 colonnes identiques */
  .column {
	float: left;
	width: 33.33%;
	padding: 10px;
	height: 200px; 
	background-color:#DEEBFF ;
  }
.lien_footer{
	color: black;
	margin-left: 20px;
}

.footer_titre{
	font-size: large;
	font-family: 'Raleway', sans-serif; 
	margin-left: 20px;
}